<title>Shortening URL</title>
<% if(username){ %>
  <form action="/logout" method="POST" style="margin: 10px;">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" value="<%= username %>" style="width: 227px">
    <input id="username" type="submit" value="Logout">
  </form>
 <% } else{ %>
  <form action="/login" method="POST" style="margin: 10px;">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" value="<%= username %>" style="width: 227px">
    <input id="username" type="submit" value="Login">
  </form>
<% } %>