<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <table>
  <thead>
    <tr>
      <th><h3>Short URL:</h3></th>
      <th><h4><%=shortURL%></h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <form action="/urls/<%= shortURL %>" method="POST">
        <td><input id="longURL" type="text" name="longURL" value="<%= longURL %>" style="width:175px"></td>
        <td><input type="submit" value="Update"></td>
      </form>
    </tr>
  </tbody>
</table>
</body>
</html>
