<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<h3>Registration</h3>
  <table>
  <tbody>
    <tr>
      <td>
        <form action="/register" method="POST">
          <label for="email">Email:</label>
          <input type="email" name="email" value="" />
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password" value="" />
        </div>
          <input type="submit" value="Register" />
        </form>
      <h4>Login</h4>
        <form action="/login" method="GET" style="margin: 10px;">
          <input type="submit" value="Login">
        </form>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
